body{
    background-color:#8181836e; 
    background-image: url("gray.jpg"); 
    margin:0;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    

}
#bar1 {
    margin-top: 0;
    background-color: #021629; 
    text-align: center;
    border:solid 5px #021629; 
    border-bottom-width: 6px; 
    overflow:auto;
    border-bottom-color: silver;
    color:silver;
    
    
    
}
#mainul{
    list-style-type: none;
    display:inline-flex;
    font-size: 23px;
    color:silver;
    margin-left:27%;
    

}

.rightmen{
    margin-top:8px;
    margin-left:50px;
    border:solid 10px;
    border-image: url("gray.jpg");
    
}
#logo1{
    margin-top:2px;
    margin-bottom:4px;
    float: left;
    margin-left:13%;
}
a{
    text-decoration:  none;
    color:rgb(230, 223, 223);
    
}


.container {
    border:solid 20px;
    border-image: url("dig.jpg"); 
    width: 70%;
    overflow: cover;
    display: flex;
    margin-left: 13%;
    margin-top: 4%;
    color:white;
    line-height: 20px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  #leftdv{
    border:solid 10px #2d4e6d;
    background-image: url("gray.jpg");
    
  }
  #mypic{
      margin-left:50px;
      padding-left: 0px;
      margin-right: 0px; 
      margin-top:0px; 
       
  }
  #downld{
    margin-left:50px;
    margin-top:30px;
  }
  #anasinfo{
      
      background-image: url("dig.jpg");
      padding-left: 15px;
      
  }
  table{
    
    border-collapse: separate;
  }
  td{
    padding-right: 100px;
  }
  .socialicons{
    padding-right: 20px; 
  }
  div.left {
    float: left;
    clear: both;
    
}
div.right {
   
    padding-left:200px;
}
div.middle {
   
    padding-left:70px;;
}
.container2 {
    border:solid 20px;
    border-image: url("dig.jpg");
    margin-top: 2%;
    margin-left: 13%;
    width: 70%;
  
    
  }
  .myskills{
    font-size:30px;
  }
  .active{
      font-size:20px;
  }
  .imgbox {
    margin-top: 2%;
    margin-left: 0%;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
  }
  #mainborder{
    margin-top: 2%;
    margin-left: 13%;
    border:solid 20px;
    border-image: url("dig.jpg");
    width: 70%;
    
  }
  #photos {
    /* Prevent vertical gaps */
    line-height: 0;
    column-count:         3;
    column-gap:           0%;  
   
  }
  
  #photos img,p {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin-top:20px;
    
  }
  
  #footerdiv{
    text-align: center;
    background-color: #021629; 
    border:solid 5px #021629;  
    COLOR:SILVER; 
    border-bottom-width: 20px;
    
  }
  article {
    font-size: 0; /*fix white space*/
}
article > section {
    font-size: 16px;
    display: inline-block;
    width: 32%;
    text-align: center;
    padding: 30px;
    
    
}